body {
    overflow: hidden;
    background-color: #F5F5F5;
}

.container {
    display: flex; /* Use flexbox to align children in a row */
    overflow: hidden;
    justify-content: space-evenly; /* Space between columns */
    align-items: flex-start; /* Align items vertically in the center */
    height: 100vh; /* Set the height to fill the viewport */
}

.songContainer {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    padding-top: 10vh;
    align-items: center;
    padding-bottom: 10vh;
    justify-content: space-evenly; /* Align items at the start */
    align-items: center; /* Center items horizontally */
    width: 15%; /* Set width to take a quarter of the space */
    box-sizing: border-box; /* Include padding in the total width/height */
    padding: 0px 0px; /* Optional: Add padding */
    height: 100%; /* Set height to 100% of the parent container */
    overflow-y: auto; /* Allow vertical scrolling if necessary */
    margin-left: 10vw;
    overflow: visible;
}

.songContainer2 {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    padding-top: 10vh;
    align-items: center;
    padding-bottom: 10vh;
    justify-content: space-evenly; /* Align items at the start */
    align-items: center; /* Center items horizontally */
    width: 15%; /* Set width to take a quarter of the space */
    box-sizing: border-box; /* Include padding in the total width/height */
    padding: 0px 0px; /* Optional: Add padding */
    height: 100%; /* Set height to 100% of the parent container */
    overflow-y: auto; /* Allow vertical scrolling if necessary */
    margin-right: 10vw;
    overflow: visible;
}

.center-container {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 38%;
}

.clock {
    width: 100%;
    height: 50vmin; /* Set a responsive height for the clock */
    background-image: url('./cd.png');
    background-size: contain; /* Scale the image to fit the clock div */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image */
    z-index: 10;
    
}

.timeTape {
    width: 38vw;
    height: 10vh;
    background-image: url('./images/TimeTape/10am.png');
    background-size: contain; /* Scale the image to fit the clock div */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image */
}

.fastForward {
    display: flex;
    justify-content: center; /* Center horizontally */
    /* align-items: center; Center vertically */

    align-items: center;
    width: 38vw;
    height: 10vh;
    background-image: url('./images/SmallTape.png');
    background-size: contain; /* Scale the image to fit the clock div */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image */
    margin-right: -1.5vw;

}

.fastForward img {
    height: 40%;
    transform: translateY(-42%); /* Move the image up by 10 pixels */
    background-size: contain; /* Scale the image to fit the clock div */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image */
}


.song {
    position: relative; /* Allows positioning of child elements */
    /* transform: rotate(15deg); */
    background-image: url("./polaroid.png");
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    background-position: center;
    background-size: contain; /* Keep the original size of the polaroid */
    background-repeat: no-repeat;
    width: 19.8vmin; /* Set width to a proportional size based on viewport */
    height: 24vmin; /* Set height to a proportional size based on viewport */
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2; /* Behind other elements */
    overflow: hidden;
    backdrop-filter: blur(1100px); /* Apply blur effect */


}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Prevent interaction with the video */
}


#song-1 {
    transform: rotate(2deg); /* Slight rotation */
}

#song-2 {
    transform: rotate(-3deg); /* Rotate in the opposite direction */
}

#song-3 {
    transform: rotate(4deg); /* Larger rotation */
}

#song-4 {
    transform: rotate(-4deg); /* Rotate in the opposite direction */
}

#song-5 {
    transform: rotate(3deg); /* Slight rotation */
}

#song-6 {
    transform: rotate(-1deg); /* Rotate in the opposite direction */
}



.song img {
    top: 5%;
    left: 10%;
    position: absolute; /* Position the image inside the container */
    width: 80%; /* Image fills 80% of the .song container */
    height: auto; /* Maintain aspect ratio */
}

.songText {
    position: absolute;
    top: 74%; /* Position text relative to the .song container */
    left: 50%;
    width: 80%; /* Text width relative to the song container */
    transform: translateX(-50%); /* Center text */
    font-family: "Mynerve";
    font-size: 1.5vmin; /* Font size scales with viewport size */
    text-align: center; /* Center text alignment */
}

.songOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Overlay covers the entire song */
    height: 100%; /* Overlay covers the entire song */
    background-color: rgba(255, 255, 255, 0.25); /* The desired color with opacity */
    z-index: 1; /* Ensure it overlays the content */
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it's behind all other elements */
    background: rgb(36, 36, 36); /* A semi-transparent white background */
    opacity: 0;
    backdrop-filter: blur(1100px); /* Apply blur effect */
}

.song img.halo {
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    box-sizing: border-box; /* Ensures border is part of the element's width */
}



.hand {
    position: absolute; /* Allow precise positioning */
    left: 51%; /* Center horizontally */
    transform-origin: bottom center; /* Rotate around the bottom */
    width: 2%; /* Set the width of the hand */
    bottom: 49%; /* All hands start from the same position */
    border-radius: 5px;
    background-color: #222222; /* Example color for visibility */

}

.second {
    width: 2px;
    height: 22%; /* Length of the second hand */
}

.minute {
    width: 3.5px;
    height: 19%; /* Length of the minute hand */
}

.hour {
    width: 5px;
    height: 15%; /* Length of the hour hand */
}

.center-dot {
    width: 1.2vw;
    height: 1.2vw;
    background-color: #222222;
    position: absolute;
    top: 50.9%;
    left: 51.08%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 4; /* Ensure the center dot is on top */
}





/* Responsive Styles */
@media (max-width: 768px) {
    .container {    
        display: flex; /* Use flexbox to align children */
        flex-direction: column; /* Stack items vertically */
        justify-content: flex-start; /* Center items vertically */
        align-items: center; /* Center items horizontally */
        height: 100vh; /* Set the height to fill the viewport */
    }
    
    .songContainer {
        display: flex;
        flex-direction: row; /* Show songs in a row */
        padding-top: 8vh;
        align-items: flex-end; /* Center items vertically */
        padding-bottom: 0vh;
        justify-content: space-evenly; /* Space items evenly */
        box-sizing: border-box;
        height: 25vh; /* Allow height to adjust based on content */
        width: 100%; /* Full width */
        overflow-y: hidden; /* Prevent vertical overflow */
        margin-left: 0vw;
        overflow: visible;
    }
        
    .songContainer2 {    
        display: flex;
        flex-direction: row; /* Show songs in a row */
        padding-top: 0vh;
        padding-bottom: 30vh;
        align-items: flex-start; /* Center items vertically */
        justify-content: space-evenly; /* Space items evenly */
        box-sizing: border-box;
        height: 25vh; /* Allow height to adjust based on content */
        width: 100%; /* Full width */
        overflow-y: hidden; /* Prevent vertical overflow */
        margin-left: 0vw;
        margin-right:0vw;
        margin-bottom: 0vh;
        overflow: visible;
    }
    
    .center-container {
        width: 100%; /* Full width on mobile */
        height: 100%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        margin-top: 0vh;
    }

    .fastForward {
        display: flex;
        justify-content: center; /* Center horizontally */
        /* align-items: center; Center vertically */
    
        align-items: center;
        width: 15vw;
        height: 5vh;
        background-image: url('./images/SmallTape.png');
        background-size: contain; /* Scale the image to fit the clock div */
        background-repeat: no-repeat; /* Prevent the image from repeating */
        background-position: center; /* Center the background image */
    
    }
    
    .fastForward img {
        height: 35%; /* Adjust image size */
        transform: translateY(-30%); /* Adjust vertical position */
    }

    .clock {
        width: 80vmin;
        height: 71vmin; /* Set a responsive height for the clock */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow for depth */
        margin-right: 5vw;
    }

    .timeTape {
        width: 65vw;
        height: 7vh;
        background-image: url('./images/TimeTape/10am.png');
        background-size: contain; /* Scale the image to fit the clock div */
        background-repeat: no-repeat; /* Prevent the image from repeating */
        background-position: center; /* Center the background image */
    }
    
    .song {
        position: relative; /* Allows positioning of child elements */
        background-image: url("./polaroid.png");
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow for depth */
        background-position: center;
        background-size: contain; /* Keep the original size of the polaroid */
        background-repeat: no-repeat;
        width: 22vw; /* Set width for songs to fit in a row */
        height: 26.5vw; /* Let height adjust based on content */
    }

    .song img {
        position: absolute; /* Position the image inside the container */
        width: 80%; /* Image fills 80% of the .song container */
        height: auto; /* Maintain aspect ratio */
        top: 5%;
        left: 10%;
        height: auto; /* Maintain aspect ratio */
    
    }
    
    .songText {
        position: absolute;
        top: 74%; /* Position text relative to the .song container */
        left: 50%;
        width: 80%; /* Text width relative to the song container */
        transform: translateX(-50%); /* Center text */
        font-family: "Mynerve";
        font-size: 1.8vw; /* Adjust font size for mobile */
        text-align: center; /* Center text alignment */
    }

    .hand {
        position: absolute; /* Allow precise positioning */
        left: 50.255%; /* Center horizontally */
        transform-origin: bottom center; /* Rotate around the bottom */
        width: 2%; /* Set the width of the hand */
        bottom: 52.6%; /* All hands start from the same position */
        border-radius: 5px;
        background-color: #222222; /* Example color for visibility */
    
    }
    
    .second {
        width: 2px;
        height: 15%; /* Length of the second hand */
    }
    
    .minute {
        width: 3.5px;
        height: 14%; /* Length of the minute hand */
    }
    
    .hour {
        width: 5px;
        height: 9%; /* Length of the hour hand */
    }
    
    .center-dot {
        width: 4vw;
        height: 4vw;
        background-color: #222222;
        position: absolute;
        top: 47.2%;
        left: 50.28%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 4; /* Ensure the center dot is on top */
    }
    
}
